transformers
streamlit
torch
openai
langchain
st-annotated-text
streamlit-drawable-canvas
PyPDF2
python-dotenv
faiss-cpu
streamlit-extras
playsound
elevenlabs
unstructured
requests
scipy
tenacity
termcolor 
pydantic
